.radio_container {
    justify-content: space-around;
    align-items: center;
    background-color: #cecece;
    height: 100%;
    box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.15);
}

.radioInput {
    appearance: none;
    display: none;
}

.radioInput:checked+.radioLabel {
    background-color: var(--section-background-color);
    color: #f1f3f5;
    transition: 0.5s;
}

.radioLabel {
    transition: linear 0.5s;
    color: var(--text-color-global);
    position: relative;
    overflow: hidden;
    font: 700 18px/46px "Arial";
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    transition: background 0.25s;
}

.tabs {
    background-color: var(--theme-body-global);
}

.tabs .tab {
    z-index: 2;
}

.radioInput {
    display: none;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 160px;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.15s ease-in;
}


.radio-1:checked~.glider {
    transform: translateX(0);
}

.radio-2:checked~.glider {
    transform: translateX(100%);
}

.radio-3:checked~.glider {
    transform: translateX(200%);
}

.radio-4:checked~.glider {
    transform: translateX(300%);
}

.radio-5:checked~.glider {
    transform: translateX(400%);
}

.glider {
    position: absolute;
    display: flex;
    height: 54px;
    width: 160px;
    background-color: grey;
    z-index: 1;
    transition: 0.3s ease-out;
}

@media screen and (max-width: 600px) {
    .tabs {
        flex-direction: column;
    }

    .radio-1:checked~.glider {
        transform: translateY(0);
    }

    .radio-2:checked~.glider {
        transform: translateY(100%);
    }

    .radio-3:checked~.glider {
        transform: translateY(200%);
    }

    .radio-4:checked~.glider {
        transform: translateY(300%);
    }

    .radio-5:checked~.glider {
        transform: translateY(400%);
    }

    .glider {
        width: calc(100% - 2rem);
    }
}