.wave {
    background: rgba(255, 255, 255, .4);
    border-radius: 50%;
    transform: scale(0);
    animation: wave .5s linear;
    pointer-events: none;
    position: absolute;
  }

  @keyframes wave {
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
